{% extends "base.html" %}

{% block pagedef %} Upload collection > About {% endblock %}

{% block idpage %}/phyloexplorer/about{% endblock %}

{% block content %}
<h3> What is it ? </h3>
<ul>
PhyloExplorer is a free, simple to use web service facilitating the management and enrichment of phylogenetic tree collections.
<br />
<br />
Given an input collection of rooted trees, PhyloExplorer provides facilities for correcting erroneous or ambiguous taxon names,
<br />
for identifying related trees in TreeBASE, for obtaining statistics describing the collection, and a query language to extract
<br />
taxonomically relevant parts of the collection.  PhyloExplorer is also available as a standalone version that include both a 
<br />
webserver identical to this one and package of Python libraries and database files that can be directly used by users with
<br />
computing skills.
</ul>

<h3> Original idea from </h3>
<ul>
Vincent Ranwez <br />
<img src="/site_media/email_vincent.jpeg" />
</ul>

<h3> Authors </h3>
<ul>
Nicolas Clairon <br />
Frédéric Delsuc <br/>
Saeed Pourali <br/>
Nicolas Auberval <br />
Sorel Diser <br />
Vincent Berry <br />
</ul>

<h3> Special thanks to </h3>
<ul>
Khalid Belkhir <br />
</ul>
{% endblock %}
