{% extends "base.html" %}

{% block pagedef %} Upload collection > Browse collection's images {% endblock %}

{% block script %}
{% endblock %}

{% block idpage %}/phyloexplorer/get_matrix{% endblock %}

{% block content %}
<br />

<fieldset>
<legend> legend </legend>
This matrix represents the presence (blue squares)/abscence (white square) of
taxa in source trees.
</fieldset>
<br />
<fieldset>
<legend> matrix</legend>
<table>
<tr> <td></td><td> <center>Trees</center> </td> </tr>
<tr>
<td> T<br />a<br />x<br />a<br /></td>
<td>
&nbsp;&nbsp;
<img style="color:white" src="/site_media/matrix/{{col_id}}.png" usemap="#map">
{{map|safe}}
</img>
</td>
</tr>
</table>
</fieldset>
<a href="/phyloexplorer/download_matrix_csv"> Download matrix in CSV format</a>

{% endblock %}
