<html>
<head>
<title> PhyloExplorer </title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/site_media/site.css">
<link rel="SHORTCUT ICON" href="/site_media/favicon.ico"/>
<script type="text/javascript" src="/site_media/jquery-1.2.3.js"></script>
<script type="text/javascript" src="/site_media/jquery.blockUI.js"></script>
<script type="text/javascript" src="/site_media/phyloexplorer.js"></script>
{% block script %}{% endblock %}
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>PhyloExplorer</h1><h2>((Phylogenetic, Tree), Explorer)</h2></td>   
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="/site_media/spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
{% block pagedef %}{% endblock %}
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
{% block menu %}{% endblock %}
         </td>
         <td class="content">
{% block content %}{% endblock %}
            <br />
        </td>
    </tr>
</table>
<a name="bottom"></a>
<a href="http://www.univ-montp2.fr" target="_blank">
<img src="/site_media/logo-cnrs.jpg" class="logo3" /></a>
<br />
<a href="http://www.univ-montp2.fr" target="_blank">
<img src="/site_media/logo-um2.jpg" class="logo1" /></a>
<br />
<a href="http://www.isem.univ-montp1.fr" target="_blank">
<img src="/site_media/logoIsem.jpg" class="logo2" /></a>
</body>
</html>

