<html>
<head>
<title> PhyloExplorer </title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/site_media/site.css">
<link rel="stylesheet" href="/site_media/jquery.jgrowl.css" type="text/css"/>
<link rel="SHORTCUT ICON" href="/site_media/favicon.ico"/>
<script type="text/javascript" src="/site_media/jquery-1.2.3.js"></script>
<script type="text/javascript" src="/site_media/jquery.blockUI.js"></script>
<script type="text/javascript" src="/site_media/jquery.jgrowl_compressed.js"></script>
<script type="text/javascript" src="/site_media/jquery.progressbar.js"></script>
<script type="text/javascript" src="/site_media/phyloexplorer.js"></script>
<link type="text/css" rel="stylesheet" href="/site_media/autocomplete.css">
<script type="text/javascript" src="/site_media/dimensions.js"></script>
<script type="text/javascript" src="/site_media/autocomplete.js"></script>
<script src="/site_media/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/site_media/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="/site_media/jquery.tabs.pack.js" type="text/javascript"></script>
<link rel="stylesheet" href="/site_media/jquery.tabs.css" type="text/css"/>
<script>
$(document).ready( function(){
    $('#id_page').hide();
    var id_page = $('#id_page').text();
    $("a[href="+id_page+"]").css({
      "background-color": "white",
    });
});
</script>
{% block script %} {% endblock %}
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>PhyloExplorer</h1><h2>((Phylogenetic, Tree), Explorer)</h2></td>   
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="/site_media/spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
{% block pagedef %}{% endblock %}
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
{% block menu %}
<div id="menu">
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<a href="/phyloexplorer/" class="path" title="Upload a collection">Upload collection</a>
<a href="/phyloexplorer/help" class="path" title="(?) Help contents">Help & Exemples</a>
<a href="/phyloexplorer/about" class="path" title="About PhyloExplorer project...">About PhyloExplorer</a>
{% if not_empty_collection %}
    <br />
    <br />
    <center> <h3>explore current collection</h3> </center>
    <a href="/phyloexplorer/statistics" blockui="wait" class="path" title="Get statistics of the collection and make queries"> statistics & queries </a>
    <a href="/phyloexplorer/browse" blockui="wait" class="path" title="Browse collection and explorer individual trees">browse collection</a>
    <a href="/phyloexplorer/browse_images" target="_blank" class="path" title="Browse images of the collection">browse images</a>
    <a href="/phyloexplorer/get_matrix" blockui="wait" class="path" title="">matrix [tree X taxa]</a>
    <center><h3> Donwload </h3></center>
    <a href="/phyloexplorer/downloadNCBITree" class="path" title="Download the NCBI arborescence"> download NCBI excerpt</a>
    <a href="/phyloexplorer/downloadCollection" class="path" title="Download the (full or filtered) collection">download collection</a>
{% endif %}
</div>
{% endblock %}

<div id="id_page">{% block idpage %}{% endblock %}</div>
         </td>
         <td class="content">
{% block content %}{% endblock %}
            <br />
        </td>
    </tr>
</table>
<a name="bottom"></a>
<a href="http://www.lirmm.fr/mab" target="_blank">
<img src="/site_media/logo_mab.gif" class="logo4" /></a>
<br />
<a href="http://www.isem.cnrs.fr/" target="_blank">
<img src="/site_media/logoIsem.jpg" class="logo3" /></a>
<br />
<a href="http://www.cnrs.fr/languedoc-roussillon/index.htm" target="_blank">
<img src="/site_media/logo-cnrs.jpg" class="logo1" /></a>
<br />
<a href="http://www.univ-montp2.fr" target="_blank">
<img src="/site_media/logo-um2.jpg" class="logo2" /></a>
</body>
</html>

