{% extends "base.html" %}

{% block pagedef %} Upload collection > Browse collection's images {% endblock %}

{% block script %}
<script type="text/javascript"> 
$(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto( {allowresize: true} );
});
</script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<a href="#bottom" class="posPage">&nbsp;Go to bottom&nbsp;</a>
<br />

<b> This is a gallery of the first 20 taxa </b>

<div id="gallery">
{% for taxon, full, thumb in d_taxa_list %}
    <a style="color:white" href="{{full}}" rel="prettyPhoto[gallery]" title="{{taxon}}"><img
      src="{{thumb}}" width="70" title="{{taxon}}" alt="{{taxon}}"></a>
{% endfor %}
</div>

<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<div id="images"></div>
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
<!-- CONTENT : END -->
{% endblock %}
