{% extends "base.html" %}

{% block pagedef %} Upload collection > Browse collection {% endblock %}

{% block script %}
<script type="text/javascript"> 
$(document).ready(function() { 
    $('#suggestions').text('Processing...');
    $('#suggestions').load( "suggestions" ); 
}); 
$(document).ready(function(){
//    $("#exemplequery").hide();
    $("#exemplelink").click(function () {
        $("#exemplequery").slideToggle("slow");
    });
});
function unselectAll(){
    $(document).ready( function(){
       $("input.restrict").removeAttr( "checked" );
    });
}
function selectAll(){
    $(document).ready( function(){
       $("input.restrict").attr( "checked", "checked" );
    });
}
function selectGenre( genre ){
    $(document).ready( function(){
        if( $("span[genre="+genre+"] input").attr("check")){
           $("span[genre="+genre+"] input").removeAttr( "check" );
           $("span[genre="+genre+"] input").removeAttr( "checked" );
        }
        else{
            $("span[genre="+genre+"]  input").attr("check", "check");
            $("span[genre="+genre+"]  input").attr("checked", "checked");
        }
    });
}

$(document).ready(function(){
    $("div.source").hide(); });

function togglesource(idNode){
    $(document).ready(function(){
        $("#image_load").hide();
        $("#image_tree img").removeAttr( "src" );
        $("#fetching_msg").html( '<b> Fetching image... </b>' );
        $("#fetching_msg").show();
        var tree_name = $('#a'+idNode).text();
        $("#tree_name_legend").text('Selected tree is "'+tree_name+'"');
        $.getJSON("get_tree_source/"+idNode, {}, function(data){
            if( data.error_line){
                var source = '<font color="red"><pre><span class="treesource">'+data.source+'<br />'+data.error_line+'</span></pre></font>';
            }
            else{
                var source = '<textarea cols=100 rows=30>'+data.source+'</textarea>';
            }
            $("#treenewick").html( source );
            if (data.error_line){
                $("#fetching_msg").html( '<b style="color:red"> bad tree, image can\'t be fecthed </b>' );
                $("#fetching_msg").show();
                $('#tab_reference_tree').disableTab(1);
                $('#tab_reference_tree').disableTab(2);
            }
            else{
                $('#tab_reference_tree').enableTab(1);
                $('#tab_reference_tree').enableTab(2);
                $.get("get_phyfi_tree_image_url/"+idNode, {}, function(data){
                    $("#image_tree img").attr( "src", data );
                    $("#fetching_msg").hide();
                    $("#image_load").show();
                });
            }
        });
    });
}

$(document).ready( function(){
    $("#image_load").hide();
    $('#tab_reference_tree').tabs(); 
});

//$(document).ready(function(){
    //$("#image").load("http://cgi-www.daimi.au.dk/cgi-chili/phyfi/go?newicktext=(mus, rattus)%3B&lineth=1&format=png&angle=15");
//    $("#image").load("http://www.google.fr");
//});

</script>
{% endblock %}

{% block menu %}
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<a href="." class="path" title="Go to upload collection page">Upload Collection</a>
<a href="/phyloexplorer/help" class="path" title="(?) Help contents">Help Contents</a>
<a href="/phyloexplorer/about" class="path" title="About PhyloExplorer project...">About</a>
<br />
{% if not_empty_collection %}
<center> <b>Current collection</b> </center>
<a href="/phyloexplorer/statistics" blockui="wait" class="path" title="Go back to collection"> Back to statistics </a>
<br />
<center> <b>Extra</b> <br /> <i>(in new window)</i></center>
<a href="/phyloexplorer/browse_images" target="_blank" class="path" title="Browse and download images of the collection">Browse images</a>
<a href="/phyloexplorer/get_matrix" target="_blank" class="path" title="">Matrix</a>
<br />
<center> <b>Download</b> </center>
<a href="/phyloexplorer/downloadNCBITree" class="path" title="Download the NCBI arborescence"> Download NCBI excerpt</a>
<a href="/phyloexplorer/downloadCollection" class="path" title="Download the (full or filtered) collection">Download collection</a>
{% endif %}
{% endblock %}

{% block content %}
<a href="#bottom" class="posPage">&nbsp;Go to bottom&nbsp;</a>
<br />
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<fieldset> <legend> Trees list </legend>
<div id="tree_view">
    {% for idtree, name, source, error_line in trees_list %}
        <b> <a id="a{{idtree}}" href="#image_tree" onclick="javascript:togglesource('{{idtree}}');"
        {%if error_line %} style="color:red" {% else %} style="color:black" {% endif %} > {{name}} </a> </b>
        {% if not error_line %}
        <a href="http://www.phylowidget.org/full/index.html?tree='{{source}}'" target="_blank"
           title="Visualize this tree using PhyloWidget" style="color:white"><img src="http://www.phylowidget.org/img/pw.ico" /></a>
        {% endif %}
        <br />
    {% endfor %}
</div>
</fieldset>
<br />
<fieldset>
<legend id="tree_name_legend">No tree selected</legend>
<div id="tab_reference_tree">
    <ul>
        <li><a href="#arborescence"><span>Browsable arborescence</span></a></li>
        <li><a href="#image_tree"><span>Image</span></a></li>
        <li><a href="#source"><span>Newick format</span></a></li>
    </ul>
    <div id="arborescence">
        <!-- Tree visualization -->
        <div class="tree">
        <br />
        <tt>
        <span id="tree_arborescence"></span>
        </tt>
        <br />
        </div>
    </div>
    <div id="image_tree">
        <div id="image_load"><img class="img"></img></div>
        <span id="fetching_msg"></span>
    </div>
    <div id="source">
        <span id="treenewick"></span>
    </div>
</div>
</fieldset>
</div>

<!-- div preview -->
<div id="preview"></div>

{% if error_msg %} <div  class="error">{{ error_msg }}</div>{% endif %}
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
<!-- CONTENT : END -->
{% endblock %}
