{% extends "base.html" %}

{% block pagedef %} Home {% endblock %}

{% block script %}
<script type="text/javascript"> 

$(document).ready(function() { 
    var error_msg = {{error_msg|safe}};
    for( i in error_msg ){
        $('#error').jGrowl( "<b>"+error_msg[i]+"</b>", 
          { life: 10000 } );
    }
});

</script>
{% endblock %}

{% block menu %}
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<a href="/phyloexplorer/help" class="path" title="(?) Help contents">Help Contents</a>
<a href="/phyloexplorer/about" class="path" title="About PhyloExplorer project...">About</a>
{% if not_empty_collection %}
<center> <b>Current collection</b> </center>
<a href="/phyloexplorer/statistics" blockui="wait" class="path" title="Go back to collection"> Back to statistics </a>
<br />
<a href="/phyloexplorer/browse_images" target="_blank" class="path" title="Browse and download images of the collection">Browse images</a>
<a href="/phyloexplorer/get_matrix" class="path" title="">Matrix</a>
<br />
<a href="/phyloexplorer/downloadNCBITree" class="path" title="Download the NCBI arborescence"> Download NCBI excerpt</a>
<a href="/phyloexplorer/downloadCollection" class="path" title="Download the (full or filtered) collection">Download collection</a>
{% endif %}
{% endblock %}


{% block content %}
<div id="error"></div>
{% if msg %}
    <div id="error" class="error"><center>{{ msg }}</center></div>
{% endif %}
    <fieldset>
        <legend>Choose the file containing your tree collection in newick or nexus...</legend>
        <form action="/phyloexplorer/statistics" method="post" enctype="multipart/form-data">
            Filename: <input type="file" name="myFile" class="button" /><br /><br />
            <input type="reset" class="button" value="Clear" />
            Enter your space delimiter for taxon name (e.g., "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" blockui="wait" value="Upload file" />
            <input type="hidden" name="new_collection" value="true" />
        </form>
    </fieldset>
    <br />
    <fieldset>
        <legend>... or paste your collection...</legend>
        <form action="/phyloexplorer/statistics" method="post" enctype="multipart/form-data">
            <textarea rows="10" cols="80" name="myFile"></textarea><br />
            <input type="reset" class="button" value="Clear" />
            Enter your space delimiter for taxon name (e.g., "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" blockui="wait" value="Upload collection" />
            <input type="hidden" name="new_collection" value="true" />
        </form>
    </fieldset>
    <br />
    <fieldset>
        <legend>... or enter a query for TreeBase</legend>
        <form action="/phyloexplorer/statistics" method="post" enctype="multipart/form-data">
            <input type="text" size="80px" name="query_treebase" />
            <input type="submit" class="button" blockui="wait" value="Go" />
            <input type="reset" class="button" value="Clear" />
            <br />
            <tt id="exemplequery"> e.g: <b> {muridae} > 2 and {carnivora}==1 and not ({primates} or {laurasiatheria} < 4) </b>
        </form>
    </fieldset>
{% endblock %}
