<html>
<head>
<title>PhyloExplorer</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>PhyloExplorer</h1><h2>((Phylogenetic, Tree), Checker)</h2></td>
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
Home > About
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Import Collection</a>
<a href="help?id=<%$_id_%>" class="path" title="(?) Help contents">Help Contents</a>
<a href="about?id=<%$_id_%>" class="path" title="About PhyloExplorer project...">About</a>
<br />
<%
if _collection_:
    #
%>
    <center> <b>Current collection</b> </center>
    <a href="/check?id=<%$ _id_ %>" class="path" title="Go back to collection"> Back to collection </a>
<br />
<%|%>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<h3> What is it ? </h3>
<ul>PhyloExplorer is a free, simple to use web service dedicated to check taxa's
names and to give statistics of phylogenetic trees.<br />
You can use filter and query in order to extract usefull informations of your
phylogenetic trees.
</ul>

<h3> Original idea from </h3>
<ul>
Ranwez Vincent
</ul>

<h3> Authors </h3>
<ul>
Auberval Nicolas <br />
Clairon Nicolas <br />
Diser Sorel <br />
Ranwez Vincent
</ul>

<h3> Special thanks to </h3>
<ul>
Belkhir Khalid <br />
Ranwez Vincent
</ul>

<!-- CONTENT : END -->
        </td>
    </tr>
</table>
</body>
</html>
