<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
<title> Taxomanie </title>
<script language="javascript" type="text/javascript">
function getXhr(){
    var xhr = null; 
    if(window.XMLHttpRequest) // Firefox et autres
        xhr = new XMLHttpRequest(); 
    else if(window.ActiveXObject){ // Internet Explorer 
        try {
                xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
    }
    else {
        alert("Votre navigateur ne supporte pas les objets XMLHTTPRequest..."); 
        xhr = false; 
    } 
    return xhr
}

/**
* Methode qui sera appelee au survol d'un nom
*/
function go(taxon){
    var xhr = getXhr()
    // On defini ce qu'on va faire quand on aura la reponse
    xhr.onreadystatechange = function(){
        // On ne fait quelque chose que si on a tout recu et que le serveur est ok
        if(xhr.readyState == 4 && xhr.status == 200){
            afficheDescURL(xhr.responseText);
        }
    }
    xhr.open("GET","getImgUrl?taxon="+taxon,true);
    xhr.send(null);
}
function afficheDescURL(toThis){
    if (document.getElementById){
        document.getElementById('preview').innerHTML = toThis;
    }
    else if (document.all){
        document.all['preview'].innerHTML = toThis;
    }
}
</script>


<body>
<div class="header" id="header">
<h1 align="center"> TAXOMANIE </h1>
<h3 align="center"> Your Collection </h3>
</div>

<center>
<form action="check">

<input size=60  type=text 
onfocus="if(this.value=='Your query'){this.value='';}" 
onblur="if(this.value==''){this.value='Your query';}" 
<%
if _query_:
    #
%>
value="<%$ _query_ %>"
<%
else:
    #
%>
value="Your query"
<%|%>
name="query" /> 
<input type="submit" value="Search">
</form>
<%
if _query_:
    #
%>
    <%$ _query_ %> <a href=check?clear_query=1> back </a>
<%
else:
    _query_ = ""
#
%>
</center>
<hr />


<%#
The sidebar
#%>

<div id="sidebar">
<b>Menu</b>
<ul>
<li><a href="."> Test another collection </a></li>
</ul>
</div>

<%#
Navigation buttons beetween trees
#%>

<center>
<table border='0' cellpadding='2' cellspacing='5'>
<tr>
<td>

<%
if len(_collection_) > 1:
    if _index_ > 1:
        #
%>
        <a href='check?index=<%$ _index_-1 %>'> Previous </a>
    <%|%>

    </td>
    <form action="check">
    <td>
    <input type="text" size="5" value="<%$ _index_ %>" name="index"> </input>
    /<%$ len(_collection_) %>
    </td>
    </form>
    <td>

<%
    if _index_ < len(_collection_):
        #
%>
        <a href='check?index=<%$ _index_+1 %>'> Next </a>
<%|%>
</td>
</tr>
</table>
</center>


<%
if len( _collection_ ) == 0:
    #
%>
   <div class="info">  Empty collection </div>
<%
else:
    tree = _collection_[_index_-1]
    if tree:
        htmltree = ""
        try:
            from phylogenictree import PhylogenicTree
            htmltree += "<center><h3>"+str(tree["name"])+"</h3></center>"
            if not _cache_.has_key( tree["name"] ):
                _cache_[tree["name"]] = PhylogenicTree( tree["tree"], _reference_ ).display()
            htmltree += _cache_[tree["name"]]
        except:
            #
%>
            <div id="error">
            <center><font color="red"> An error occured with this tree : </font></center>
            <br />
            <%$ tree["tree"] %>
            </div>
        <%|%>
    <hr />
    <tt>
    <%$ htmltree %>
    </tt>
    <hr />

    <div id="preview"> </div>
<%|%>

<center>
<a href="/downloadCollection?col=<%$ _collection_ %>"> Download the filtered collection </a>
</center>

</body> </html>

