<html>
<head>
<title> PhyloExplorer </title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
<script type="text/javascript" src="getJs"></script>
<script language="javascript" type="text/javascript">
function getXhr(){
    var xhr = null; 
    if(window.XMLHttpRequest) // Firefox et autres
        xhr = new XMLHttpRequest(); 
    else if(window.ActiveXObject){ // Internet Explorer 
        try {
                xhr = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
    }
    else {
        alert("Votre navigateur ne supporte pas les objets XMLHTTPRequest..."); 
        xhr = false; 
    } 
    return xhr
}

/**
* Methode qui sera appelee au survol d'un nom
*/
function go(taxon){
    var xhr = getXhr()
    // On defini ce qu'on va faire quand on aura la reponse
    xhr.onreadystatechange = function(){
        // On ne fait quelque chose que si on a tout recu et que le serveur est ok
        if(xhr.readyState == 4 && xhr.status == 200){
            afficheDescURL(taxon,xhr.responseText);
        }
    }
    xhr.open("GET","getImgUrl?taxon="+taxon,true);
    xhr.send(null);
}
function afficheDescURL(taxon,toThis){
    if(taxon!=''){
    if (document.getElementById){
        document.getElementById('preview').innerHTML = "<div class='nameTaxa'>"+taxon+"</div>"+toThis;
    }
    else if (document.all){
        document.all['preview'].innerHTML = "<div class='nameTaxa'>"+taxon+"</div>"+toThis;
    }
    }
}

/*
 * show/hide intern node
 */
function setNode(){
    var appear = '#6666ff';
    var txtVisible = 'Show intern nodes';
    var disappear = '#ffffff';
    var txtHidden = 'Hide intern nodes';
    var idButton = 'iNode';
    var toLookFor = 'genre';

    //// Firefox and others
    if (document.getElementById){
        var obj = document.getElementById(idButton);
        var elem = document.getElementsByName(toLookFor);
    }
    //IE
    else if (document.all){
        var obj = document.all[idButton];
        var elem = document.getElementsByTagName(toLookFor);
    }

    //traitement
    if (obj.innerHTML == txtVisible){
        for (i=0; i<elem.length; i++){elem[i].style.color = appear;}
        obj.innerHTML = txtHidden;
    }
    else{
        for (i=0; i<elem.length; i++){elem[i].style.color = disappear;}
         obj.innerHTML = txtVisible;
    }
}

/*
 * Develop/hide intern node
 */
function setInternNode(idNode){
    $(document).ready(function(){
         $("#"+idNode).click(function() {
            alert( "coucou" );
         });
    });
}

function setInternNode2(idNode){

    //// Firefox and others
    if (document.getElementById){var obj = document.getElementById(idNode);}
    //IE
    else if (document.all){var obj = document.all[idNode];}

    //traitement
    if (idNode.style.visibility == 'hidden'){
        idNode.style.visibility = 'visible';
    }
    else {
        //idNode.style.visibility = 'hidden';
        old_id = idNode;
        idNode.innerHTML = "";
    }
}

</script>
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>PhyloExplorer</h1><h2>((Phylogenetic, Tree), Checker)</h2></td>   
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
Home > Import Collection > Collection visualization
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
<!-- MENU : BEGINNING______________________________________________________________________ -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page"> Import Collection </a>
<a href="help?id=<%$_id_%>" class="path" title="(?) Help contents"> Help Contents </a>
<a href="about?id=<%$_id_%>" class="path" title="About PhyloExplorer project..."> About </a>
<br />
<center> <b>Current collection</b> </center>
<a href="statistics?id=<%$ _id_ %>" class="path" title="Display statistics of collection"> Statistics </a>
<a href="/downloadCollection?id=<%$ _id_ %>" class="path" title="Download the (full or filtered) collection">Download collection</a>
<br />
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<!-- query panel -->
<div class="query">
<form action="check" class="nopadding">
<input size=60  type=text 
onfocus="if(this.value=='Your query'){this.value='';}" 
onblur="if(this.value==''){this.value='Your query';}"
<%
if _query_:
    #
%>
value="<%$ _query_ %>"
<%
else:
    #
%>
value="Your query"
<%|%>
name="query" /> 
<input type="submit" value="Search" class="button">
<input type="hidden" name="id" value="<%$ _id_ %>" />
</form>
<%
if _query_:
    #
%>
    Results for --&nbsp;<%$ _query_ %>&nbsp;--&nbsp;|&nbsp;<a href=check?id=<%$ _id_ %>&clear_query=1>Back to full collection</a>
<%
else:
    _query_ = ""
#
%>
</div>

<%
if _msg_:
    #
%>
    <div  class="error"><%$ _msg_ %></div>
<%|%>

<%#
Navigation buttons beetween trees
#%>

<!-- tree browser -->
<form action="check" class="browser">

<%
if len(_collection_) > 1:
    if _index_ > 1:
        #
%>
        &nbsp;<a href='check?id=<%$ _id_ %>&index=<%$ _index_-1 %>'>Previous</a>&nbsp;
    <%|%>

    <input type="hidden" name="id" value="<%$ _id_ %>" />
    <input type="text" size="5" value="<%$ _index_ %>" name="index" />
    /<%$ len(_collection_) %>

<%
    if _index_ < len(_collection_):
        #
%>
        &nbsp;<a href='check?id=<%$ _id_ %>&index=<%$ _index_+1 %>'>Next</a>&nbsp;
<%|%>
</form>
<!-- tree or not -->

<%
htmltree = ""
if len( _collection_ ) == 0:
    #
%>
   <div class="error">Empty collection</div>
<%
else:
    tree = _collection_[_index_-1]
    if tree:
        if 1:#try:
            from phylogenictree import PhylogenicTree
            htmltree += "<div class='treeName'>Tree Name : "+str(tree["name"])
            if not _cache_.has_key( tree["name"] ):
                ptree = PhylogenicTree( tree["tree"], _reference_ )
                _cache_["nbtaxa"] = ptree.nb_taxa
                _cache_[tree["name"]] = ptree.display()
            htmltree += "  ("+str(_cache_["nbtaxa"])+" taxa)</div><br />"
            htmltree += _cache_[tree["name"]]
        else:#except:
            #
%>
            <!-- error in the tree -->
            <div id="error" class="error"> An error occured with this tree : <%$ tree["tree"] %> </div><br />
        <%|%>

<%
if _nbbadtaxa_:
    #
%>
    <center>
    <font color="red"> <%$ _nbbadtaxa_ %> bad taxa in this collection </font><br /><br />
    </center>
<%|%>
    <a href="#bottom" class="posPage">&nbsp;Go to bottom&nbsp;</a>&nbsp;
    <a id="iNode" onClick="javascript:setNode();" title="Click to show/hide intern node">Hide intern nodes</a>
    <!-- Tree visualization -->
    <div class="tree">
    <br />
    <tt>
    <%$ htmltree %>
    </tt>
    <br />
    </div>
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>

    <!-- div preview -->
    <div id="preview"></div>
<%|%>
<!-- CONTENT : END -->
            <br />
        </td>
    </tr>
</table>
<a name="bottom"></a>
</body>
</html>

