<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Upload Collection</a>
<a href="help" class="path" title="(?) Help contents">Help Contents</a>
<a href="about" class="path" title="About PhyloExplorer project...">About</a>
<br />
<%
if _collection_:
    #
%>
    <center> <b>Current collection</b> </center>
    <a href="/statistics" blockui="wait" class="path" title="Go back to statistics"> Back to statistics</a>
    <a href="/check" blockui="wait" class="path" title="Go back to collection"> Back to collection </a>
<br />
<%|%>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<h3>Example of Tree</h3>
<ul><pre>
#nexus
begin trees;
tree aa = ((rattus, pan), homo);
tree bb = ((homo_sapiens, mus_france), (pan, rattus));
tree cc = (homo, (bos, pan));
tree dd = ((mus, rattus),pan);
end;
</pre></ul>

<h3> What can I do with PhyloExplorer ? </h3>
<ul><b>You can check <font color="blue">PHYLOGENETIC TREES</font> (on the Homepage):</b>
<pre>
- by uploading a Newick or simple Nexus format file
- by entering a Newick or simple Nexus format tree in the textfield

</pre>
</ul>

<ul><b>You can get <font color="blue">STATISTICS</font> about your collection of trees as soon as your collection is sent:</b>
<pre>
- <u>General informations</u>: shows the number of trees, the number of taxa (including bad taxa and homonyms).
- <u>Correct your collection</u>: enables you to set the right name of bad taxa and homonyms. Then click "<u>Correct collection</u>".
- <u>Chart area</u>: 2 charts are displayed
              --> <i>The 1st one</i> displays how full trees are.
              --> <i>The 2nd one</i> displays the distribution frequency of a taxon.
- <u>NCBI taxonomy</u>: every node of the whole collection are displayed with the NCBI arborescence.
              --> Every node has 2 numbers --> (number of its representatives, number of trees in which it is).
              --> <i>Dark blue</i> names are the species that are in YOUR collection.
              --> <i>Light blue</i> names are the commom parents of species.
              --> You can filter your collection thanks to the checkbox next to each name.
                  (If you check a box, it means you don't want this node in your collection)
                  Then click "<u>Restrict collection</u>" to filter.

</pre>
</ul>

<ul><b>You can see a picture of a taxon when you put the mouse over its name</b>
<pre>
- Pictures are taken from WikiSpecies and/or WikiPedia

</pre>
</ul>

<ul><b>You can <font color="blue">QUERY</font> the collection</b>
<pre>
- To search a taxon or node in the collection
- Example of query: <i>{catarrhini}>3 and {murinae} and {bos} and not {glires}</i>
  i.e: get every tree where "murinae" and "bos" are, but not "glires" and where the number of "catarrhini" is up to 3
- <u>Syntax of query</u> (upper or lower case is accepted):
                    --> <b>{...}</b>        {name you want to search}</b> must be between braces. e.g: <b>{mus musculus}</b>
                    --> <b>OR</b>           {name 1} <b>or</b> {name 2} <b>or</b> {name 3} ...
                    --> <b>AND</b>          {name 1} <b>and</b> {name 2} <b>and</b> {name 3} ...
                    --> <b>NOT</b>          {name 1} and <b>not</b> {name 2} and <b>not</b> {name 3} ...
                    --> <b>(...)</b>        not {name 1} and not <b>(</b>{name 2} or {name 3}<b>)</b> ... use brackets for priority operations
                    --> <b><, >, <=, >=</b> {name 1} <b>></b> 2 and {name 2} <b><</b> 4 ... e.g: {eutheria} <b>></b> 4 and {murinae} <b><</b> 3
                    --> <b>==</b>           {name 1} <b>==</b> 3 ... e.g: {laurasiatheria} <b>==</b> 2
  Spaces between operands are accepted: <b>{glires}>3</b> is equivalent to <b>{glires} > 3</b>. It's the same for <b>==</b>, <b><=</b>, <b>>=</b> ...

</pre>
</ul>

<ul><b>You can obviously <font color="blue">BROWSE YOUR COLLECTION</font></b>
<pre>
- Just click the "<u>Browse collection</u>" button
- <u>Display tree</u>: choose the tree you want to display thanks to the select menu
- <u>Show parents</u>: show intermediate parents of an intern node (<i>usually hidden for visual comfort</i>)
- <u>Show/hide all parents</u>: expand/hide all intermediate parents

</pre>
</ul>

<ul><b>You can hide/show intern nodes in trees</b>
<pre>
- Just click the "<u>Show/hide intern nodes</u>" button above the Tree Name
- The tree will be displayed with/without the intern nodes (just show the structure of the user's original tree)

</pre>
</ul>

<ul><b>You can <font color="blue">DOWNLOAD</font> your <font color="blue">filtered collection</font></b>
<pre>
- Just click the "<u>Download collection</u>" button

</pre>
</ul>

<ul><b>You can <font color="blue">DOWNLOAD</font> the <font color="blue">NCBI taxonomy</font></b>
<pre>
- Just click the "<u>Download NCBI tree</u>" button
</pre>
</ul>
<!-- CONTENT : END -->
