<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Upload Collection</a>
<a href="help" class="path" title="(?) Help contents">Help Contents</a>
<a href="about" class="path" title="About PhyloExplorer project...">About</a>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<%
if _msg_:
%>
    <%|%>
    <div id="error" class="error"><center><%$ _msg_ %></center></div>
<%|%>
    <fieldset>
        <legend>Choose the file containing your tree collection in newick or nexus...</legend>
        <form action="statistics" method="post" enctype="multipart/form-data">
            Filename: <input type="file" name="myFile" class="button" /><br /><br />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" id="wait" value="Upload" /><br />
        </form>
    </fieldset>
    or
    <fieldset>
        <legend>... or paste your collection</legend>
        <form action="statistics" method="post" enctype="multipart/form-data">
            <textarea rows="10" cols="80" name="myFile"></textarea><br />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" id="wait2" value="Upload" />
        </form>
    </fieldset>
<!-- CONTENT : END -->
