<html>
<head>
<title>Taxonamie</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>Taxomanie</h1><h2>((Phylogenic, Tree, Checker))</h2></td>
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
Home > Import Collection
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Import Collection</a>
<a href="help?id=<%$_id_%>" class="path" title="(?) Help contents">Help Contents</a>
<a href="about?id=<%$_id_%>" class="path" title="About Taxomanie project...">About</a>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<%
if _msg_:
%>
    <%|%>
    <div id="error" class="error"><center><%$ _msg_ %></center></div>
<%|%>
    <fieldset>
        <legend> Your collection file in newick format </legend>
        <form action="check" method="post" enctype="multipart/form-data">
            Filename: <input type="file" name="myFile" class="button" /><br /><br />
            <input type="hidden" name="id" value="<%$ _id_ %>" />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" id="send" value="Send" /><br />
        </form>
    </fieldset>
    or
    <fieldset>
        <legend> Your string in newick format </legend>
        <form action="check" method="post" enctype="multipart/form-data">
            <textarea rows="10" cols="80" name="myFile"></textarea><br />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="hidden" name="id" value="<%$ _id_ %>" />
            <input type="submit" class="button" id="send" value="Send" />
        </form>
    </fieldset>
<!-- CONTENT : END -->
        </td>
    </tr>
</table>
</body>
</html>
