<script type="text/javascript"> 

$(document).ready(function() { 
    $('#sugestions').text('Processing...');
    $('#sugestions').load( "getAllSugestions" ); 
}); 

$(document).ready(function(){
    $("#exemplequery").hide();
    $("#exemplelink").click(function () {
        $("#exemplequery").slideToggle("slow");
    });
});
                           
</script>
<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to upload collection page">Upload Collection</a>
<a href="help" class="path" title="(?) Help contents">Help Contents</a>
<a href="about" class="path" title="About PhyloExplorer project...">About</a>
<br />
<center> <b>Current collection</b> </center>
<a href="/check" blockui="wait" class="path" title="Go back to collection"> Browse collection </a>
<a href="/downloadNCBITree" blockui="wait" class="path" title="Download the NCBI arborescen">
Download NCBI tree </a>
<br />
<!-- MENU : END -->
     </td>
             <td class="content">
            <a href="#bottom" class="posPage">&nbsp;Go to bottom&nbsp;</a>
            <br />
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<div class="stat">
<!-- query panel -->
<div class="query">
<form action="statistics" class="nopadding">
<a onclick="javascript:toggleExemple();" id="exemplelink"> View exemple </a>&nbsp;
<input size=60  type=text 
onfocus="if(this.value=='Your query...'){this.value='';}" 
onblur="if(this.value==''){this.value='Your query...';}"
<%
if _query_:
    #
%>
value="<%$ _query_ %>"
<%
else:
    #
%>
value="Your query..."
<%|%>
name="query" /> 
<input type="submit" value="Search" class="button" blockui="wait"> <br>
<tt id="exemplequery"> e.g: <b> {murinae} > 2 and {carnivora}==1 and not ({primates} or {laurasiatheria} < 4) </b>
<br /> 
<i>You can download your result after your query</i></tt>
</form>
<%
if _query_:
    #
%>
    Results for --&nbsp;<%$ _query_ %>&nbsp;--&nbsp;|&nbsp;<a blockui="wait" href=statistics?clear_query=1>Back to full collection</a>
<%
else:
    _query_ = ""
#
%>
</div>

<%
if _msg_:
    #
%>
    <div  class="error"><%$ _msg_ %></div>
<%|%>
</div>
<%
if len( _collection_ ) == 0:
    #
%>
   <div class="error">Empty collection</div>
<%
else:
    #
%>
<!-- end query panel -->
    <br />
<!--
    <a name="chart1"></a>
    <fieldset>
        <legend> Chart1 : Number of trees with number of taxa (<%$ len(_collection_) %> trees)</legend>
        <img src="/getStatImg1" />
    </fieldset><br />
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
    <br /><br />

    <a name="chart2"></a>
    <fieldset>
        <legend> Chart2 : Number of trees wich has this taxon (<%$ len(_collection_) %> trees)</legend>
        <img src="/getStatImg2" />
    </fieldset><br />
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
    <br /><br />
-->
    <a name="arbo"></a>
    <fieldset>
        <legend> General informations of the collection </legend>
        <%$ _nbtree_ %> trees <br />
        <%$ _nbtaxa_ %> taxa <br />
        <font color="red"> <%$ len(_badtaxalist_)%> bad taxa </font><br />
        <font color="orange"><%$ len(_homonymlist_)%> homonyms </font><br />
    </fieldset>
<%
    if len(_badtaxalist_):
        #
%>
    <fieldset class="sugestions">
        <legend> <%$ len( _badtaxalist_)%> bad taxa </legend>
        <span id="sugestions"> </span>
    </fieldset>
    <%|%>
<%
    if len(_homonymlist_):
        #
%>
    <span class="homonymlist">
    <%$ _disphomonym_ %>
    </span>
    <%|%>
    <fieldset>
        <legend> Number of taxa by trees </legend>
        <tt>
        <%$ _stat1_ %>
        </tt>
    </fieldset>
    <fieldset>
        <legend> Number of trees by taxa </legend>
        <tt>
        <%$ _stat2_ %>
        </tt>
    </fieldset>
    <fieldset>
        <legend> NCBI taxonomy</legend>
        <tt>
        <%$ _ncbitree_ %>
        </tt>
    </fieldset><br />
<%|%>
</div>
            <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
    <!-- div preview -->
    <div id="preview"></div>
<!-- CONTENT : END -->
