<html>
<head>
<title>Taxonamie</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>Taxomanie</h1><h2>((Phylogenic, Tree, Checker))</h2></td>
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
Home > About
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<%
if _collection_:
    #
%>
    <a href="/check?id=<%$ _id_ %>" class="path" title="Go back to collection"> Back to collection </a>
<br />
<br />
<%|%>
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Import Collection</a>
<a href="help?id=<%$_id_%>" class="path" title="(?) Help contents">Help Contents</a>
<a href="about?id=<%$_id_%>" class="path" title="About Taxomanie project...">About</a>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<h3> What is it ? </h3>
TaxoManie is a free, simple to use web service dedicated to check taxa's
names and to give statistic of phylogeny trees.

You can use filter and query in order to extract usefull informations of your
phylogenetic trees.

<h3> Authors </h3>
This application was created by
<ul>
<li> Auberval Nicolas </li>
<li> Clairon Nicolas </li>
<li> Diser Sorel </li>
</ul>


<!-- CONTENT : END -->
        </td>
    </tr>
</table>
</body>
</html>
