<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
<title> Taxonamie </title>
<script type="text/javascript" src="taxomanie.js"> </script>


<body>
<div class="header" id="header">
<h1 align="center"> TAXOMANIE </h1>
<h3 align="center"> Your Collection </h3>
</div>

<form action="check">
<center>
Your querry : <input type="text" name="querry"> <input type="submit">
</center>
</form>
<hr />


<%#
The sidebar
#%>

<div id="sidebar">
<b>Menu</b>
<ul>
<li><a href="."> Test another collection </a></li>
</ul>
</div>

<%#
Navigation buttons beetween trees
#%>

<center>
<table border='0' cellpadding='2' cellspacing='5'>
<tr>
<td>

<%
if len(_collection_) > 1:
    if _index_ > 1:
%>
        <%|%>
        <a href='check?index=<%$ _index_-1 %>'> Previous </a>
    <%|%>

    </td>
    <form action="check">
    <td>
    <input type="text" size="5" value="<%$ _index_ %>" name="index"> </input>
    /<%$ len(_collection_) %>
    </td>
    </form>
    <td>

<%
    if _index_ < len(_collection_):
%>
        <%|%>
        <a href='check?index=<%$ _index_+1 %>'> Next </a>
<%|%>
</td>
</tr>
</table>
</center>


<%
tree = _collection_[_index_-1]
if tree:
    htmltree = ""
    if 1:#try:
        htmltree += "<center><h3>"+str(tree["name"])+"</h3></center>"
        htmltree += tree["tree"].display()
    else:#except:
%>
        <%|%>
<div id="error">
<center><font color="red"> An error occured with this tree : </font></center>
<br />
<%$ tree %>
</div>
    <%|%>



<hr />
<tt>
<%$ htmltree %>
</tt>
<hr />
<div id="preview"> </div>


</body> </html>

