<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
<title> Taxonamie </title>

<body>
<div class="header" id="header">
<h1 align="center"> TAXOMANIE </h1>
<h3 align="center"> Your Collection </h3>
</div>

<%#
Navigation buttons beetween trees
#%>

<center>
<table border='0' cellpadding='2' cellspacing='5'>
<tr>
<td>

<%
if len(collection) > 1:
    if index > 0:
%>
        <%|%>
        <a href='check?index=<%$ index-1 %>'> Previous </a>
    <%|%>

    </td>
    <form>
    <td>
    <input type="text" size="1" value="<%$ index+1 %>" name="index"> </input>
    /<%$ len(collection) %>
    </td>
    </form>
    <td>

<%
    if index < len(collection)-1:
%>
        <%|%>
        <a href='check?index=<%$ index+1 %>'> Next </a>
<%|%>
</td>
</tr>
</table>
</center>
<hr />

<%
from phylogenictree import PhylogenicTree
tree = collection[index]
if tree:
    try:
        mytree = PhylogenicTree( tree, reference )
        htmltree = ""
        if named_tree:
            htmltree += "<center><h3>"+named_tree[tree]+"</h3></center><hr />"
        htmltree += mytree.display( target = target )
        htmltree += "<hr />"
    except:
%>
        <%|%>
<div id="error">
<center><font color="red"> An error occured with this tree : </font></center>
<br />
<%$ tree %>
</div>
    <%|%>


<%#
The sidebar
#%>

<div id="sidebar">
<b> Options </b>
<ul>
<li>
<%
if target == "html":
%>
    <%|%>
<a href='check?index=<%$ index %>&target=text'>
Printable version
</a>
<%
else:
%>
    <%|%>
<a href='check?index=<%$ index %>&target=html'>
Html version
</a>
<%|%>

</li>
</ul>

<br />

<b>Menu</b>
<ul>
<li><a href="."> Test another collection </a></li>
</ul>
</div>

<%
if target == "html":
%>
    <%|%>
    <ul>
    <%$ htmltree %>
    </ul>
<%
else:
%>
    <%|%>
<pre>
<%$ htmltree %>
</pre>
<%|%>

</body> </html>

