<html>
<head>
<title>PhyloExplorer</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css">
</head>
<body>
<a name="top"></a>
<table class="body" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="header1" valign="bottom">
        <td class="header1" width="15%"><img src="spc.gif" alt="" height="1" width="1"></td>
        <td class="header2" width="85%"><h1>PhyloExplorer</h1><h2>((Phylogenetic, Tree), Checker)</h2></td>
    </tr>
    <tr class="crumbs1">
        <td class="crumbs1"><img src="spc.gif" alt="" height="1" width="1"></td> 
        <td class="crumbs2">
<!-- PAGE DEF : BEGINNING_________________________________________________________________ -->
Home > Help
<!-- PAGE DEF : END -->
        </td>
    </tr>
    <tr class="content" valign="top">
        <td class="links">
<!-- MENU : BEGINNING______________________________________________________________________ -->
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Import Collection</a>
<a href="help?id=<%$_id_%>" class="path" title="(?) Help contents">Help Contents</a>
<a href="about?id=<%$_id_%>" class="path" title="About PhyloExplorer project...">About</a>
<br />
<%
if _collection_:
    #
%>
    <center> <b>Current collection</b> </center>
    <a href="/check?id=<%$ _id_ %>" class="path" title="Go back to collection"> Back to collection </a>
<br />
<%|%>
<!-- MENU : END -->
     </td>
             <td class="content">
<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<h3>Example of Tree</h3>
<ul><pre>
#nexus
begin trees;
tree aa = ((rattus, pan), homo);
tree bb = ((homo_sapiens, mus_france), (pan, rattus));
tree cc = (homo, (bos, pan));
tree dd = ((mus, rattus),pan);
end;
</pre></ul>

<h3> What can I do with Taxomanie ? </h3>
<ul><b>You can check phylogenetic trees (on the Homepage):</b>
<pre>
- by uploading a Newick or simple Nexus format file
- by entering a Newick or simple Nexus format tree in the textfield

</pre>
</ul>

<ul><b>You can see a picture of a taxon when you put the mouse over its name</b>
<pre>
- Pictures are taken from WikiSpecies and/or WikiPedia
</pre>
</ul>

<ul><b>You can query the collection</b>
<pre>
- To search a taxon or node in the collection
- Example of query: {catarrhini}>3 and {murinae} and {bos} and not {glires}
  Get every tree where "murinae" and "bos" are, but not "glires" and where the number of "catarrhini" is up to 3
</pre>
</ul>

<ul><b>You can get statistics about your collection of trees:</b>
<pre>
- Just clic the "Statistics" button.
- Every node of the whole collection are displayed with the NCBI arborescence
- Every node has 2 numbers --> ( number of its representatives, number of trees in which it is  )
</pre>
</ul>

<ul><b>You can filter a tree</b>
<pre>
- Just clic the "Hide intern nodes"/"Show intern nodes" button above the Tree Name
- The tree will be displayed with/without the intern nodes
</pre>
</ul>

<ul><b>You can download your filtered collection</b>
<pre>
- Just clic the "Download collection" button
</pre>
</ul>
<!-- CONTENT : END -->
        </td>
    </tr>
</table>
</body>
</html>
