{% extends "base.html" %}

{% block pagedef %} Upload collection > About {% endblock %}

{% block idpage %}/phyloexplorer/about{% endblock %}

{% block content %}
<h3> Project overview </h3>
<ul>
PhyloExplorer is a tool to facilitate assessment and management of phylogenetic 
tree collections. Given an input collection of trees, PhyloExplorer provides 
facilities for obtaining statistics describing the collection, correcting invalid taxon 
names, extracting taxonomically relevant parts of the collection using a dedicated 
query language, and identifying related trees in the <a href="http://www.treebase.org/treebase/index.html"> TreeBASE</a> database. 
</ul>

<h3> Project members </h3>
<h4>- Permanent members</h4>
<ul>
<a href="http://www.isem.cnrs.fr/spip.php?rubrique177">Vincent Ranwez</a><br />
<a href="http://www.lirmm.fr/~vberry/">Vincent Berry </a><br />
<a href="http://www.isem.cnrs.fr/spip.php?rubrique169">Frédéric Delsuc</a><br />
</ul>

<h4>-Non permanent members </h4>
<ul>
Nicolas Clairon <br />
Saeed Pourali <br/>
Nicolas Auberval <br />
Sorel Diser <br />
</ul>

<h3> Special thanks to </h3>
<ul>
Khalid Belkhir <br />
Alexandre Dehne Garcia <br /> 
</ul>

<h3> Contact </h3>
<ul>
For comments or questions concerning treeBASE please contact Vincent Berry: vberryATlirmm.fr.<br/>
For comments or questions concerning any other aspect of phyloExplorer please contact Vincent Ranwez :
<img src="/site_media/email_vincent.jpeg" /> </br>
</ul>

{% endblock %}
