{% extends "base.html" %}

{% block pagedef %} Upload collection > About {% endblock %}

{% block idpage %}/phyloexplorer/about{% endblock %}

{% block content %}
<h3> Project overview </h3>
<ul>
PhyloExplorer is a tool to facilitate assessment and management of phylogenetic tree collections.
Given an input collection of rooted trees, PhyloExplorer provides facilities for obtaining statistics describing the collection,
correcting invalid taxon names, extracting taxonomically relevant parts of the collection using a dedicated query language,
and identifying related trees in the <a href="http://www.treebase.org/treebase/index.html"> TreeBASE</a> database.

</ul>
<h3> Reference </h3>
<ul>
Ranwez V., Clairon N., Delsuc F., Pourali S., Auberval N., Diser S. & Berry V. (2009).<br/>
PhyloExplorer: a web server to validate, explore and query phylogenetic trees. <br/>
BMC Evolutionary Biology  <b>9</b>: 108. <a href="http://www.biomedcentral.com/1471-2148/9/108/"> Free Full text </a>
</ul>


<h3> Project members </h3>
<ul>
<TABLE BORDER cellspacing="2" width="60%">
<TR><TD><b>Permanent members</b></TD><TD><b>Non permanent members</b></TD><TD><b>Special thanks to</b></TD></TR></b>
<TR><TD><a href="http://www.isem.cnrs.fr/spip.php?rubrique433&lang=en">Vincent Ranwez</a></TD><TD>Nicolas Clairon </TD><TD>Khalid Belkhir </TD></TR>
<TR><TD><a href="http://www.lirmm.fr/~vberry/">Vincent Berry </a</TD><TD>Saeed Pourali</TD><TD>Alexandre Dehne Garcia</TD></TR>
<TR><TD><a href="http://www.isem.cnrs.fr/spip.php?rubrique430&lang=en">Frédéric Delsuc</a></TD><TD>Nicolas Auberval</TD><TD></TD></TR>
<TR><TD></TD><TD>Sorel Diser</TD></TR>
</TABLE>
</ul>
<!--
<h4>- Permanent members</h4>
<ul>
<a href="http://www.isem.cnrs.fr/spip.php?rubrique433&lang=en">Vincent Ranwez</a><br />
<a href="http://www.lirmm.fr/~vberry/">Vincent Berry </a><br />
<a href="http://www.isem.cnrs.fr/spip.php?rubrique430&lang=en">Frédéric Delsuc</a><br />
</ul>

<h4>- Non permanent members </h4>
<ul>
Nicolas Clairon <br />
Saeed Pourali <br/>
Nicolas Auberval <br />
Sorel Diser <br />
</ul>

<h4>- Special thanks to </h4>
<ul>
Khalid Belkhir <br />
Alexandre Dehne Garcia <br /> 
</ul>
-->
<h3> Contact </h3>
<ul>
For comments or questions concerning treeBASE please contact Vincent Berry: vberryATlirmm.fr.<br/>
For comments or questions concerning any other aspect of phyloExplorer please contact Vincent Ranwez: vincent.ranwezATuniv-montp2.fr
<!--<img src="/site_media/email_vincent.jpeg" />--> </br>
</ul>

<h3> Last visitors </h3>
<ul><script type="text/javascript" src="http://feedjit.com/map/?bc=028502&amp;tc=D7D7D7&amp;brd1=00A700&amp;lnk=D7D7D7&amp;hc=FFFFFF&amp;dot=1200FF">
</script><noscript><a href="http://feedjit.com/">Feedjit Live Blog Stats</a></noscript>
</ul>
{% endblock %}
