/* 
   Formatting for the txt2tags site http://txt2tags.sf.net   
   Author: Aurelio Marinho Jargas http://aurelio.net  
   License: Public Domain
   Released by SoO.D and NicoO.A (02/2008)
*/

#tree_view{
    overflow: auto; height: 200px; display:block
}

.treesource{
    overflow: auto; width: 800px; display:block
}

#error 
    { 
    position:fixed; 
    z-index:3; 
    float:center;
    right:10px; 
    }



/*-------------------------GENERAL LINKS--------------------------------------*/
a {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 13px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    }

a:link 
    {
    color: blue;
    font-weight: bold;
    }

a:hover 
    {
    text-decoration: underline;
    }

a:visited {}

a.phylowidget:link
    {
    color: green;
    }

a.phylowidget:visited
{
    color: blue;
}


div.interparents
{
    background: #E8E8E8;
/*    color: lightgray;*/
}

a.nolink:hover
{
    text-decoration: None;
}

/*-------------------------TAXON LINKS--------------------------------------*/
a.species:link 
    {
    color: darkblue;
    }

a.species:visited 
    {
    color: darkblue;
    }

a.species_homonym:link
    {
    color: orange
    }

a.species_homonym:visited 
    {
    color: orange;
    }

a.genre:link 
    {
    color: #66f;
    }

a.genre:visited
    {
    color: #66f;
    }

a.genre_homonym:link
    {
    color: orange
    }

a.genre_homonym:visited 
    {
    color: orange;
    }


a.genre, a.species 
    {
    position:relative;
    /*  border-bottom:1px dashed #808080;*/
    text-decoration: none;
    font-weight: normal;
    padding:0px 0px;
    }

a:hover.genre, a:hover.species 
    {
    text-decoration: none;
    background: none;
    font-weight: bold;
    }

a.genre span, a.species span {display: none;}

a:hover.genre span, a:hover.species span 
    {
    display: inline;
    position: absolute; 
    top: -20px;
    left: 10px;
    z-index: 20;
    width:100%;
    padding:2px 4px;
    }

span.didyoumean
{
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 10px;
    color: #000;
}

span.didyoumean a:hover, span.didyoumean a:visited, span.didyoumean a:link,
span.didyoumean strong
{
    font-size: 11px;
    color: darkblue;
    font-weight: normal;
}    
    
span.homonymlist
{
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 10px;
    color: #000;
}

span.homonymlist a:hover, span.homonymlist a:visited, span.homonymlist a:link
{
    font-size: 11px;
    color: darkblue;
}    
 
/*----------------------PREVIEW CONTENT : IMAGE TAXA---------------*/
#preview 
    { 
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: normal;
    position:fixed; 
    z-index:3; 
    float:bottom;
    bottom:10px;
    right:10px; 
    text-align:left; 
    color: #fff;
    background: #FFF;
    /*width: 200px;*/
    /*height: 200px;*/
    }

.nameTaxa 
    { 
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align:center; 
    background: #000;
    font-weight: bold;
    }

.imgTaxa 
    { 
    width: 200px; /* image width on mouseover */
    border-style:solid;
    border-width: 1px;
    border-color: #000;
    }


/* 2nd site version : nautilus version by SoO_______________________________________*/
/*-------------------------BODY--------------------------------------*/
body
    {
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 11px;
	background-color: #333;
	/*background-image:  url(getImageFond?imagename=Raster.gif);*/
	background-image:  url(/site_media/Raster.gif);
	background-attachment: fixed;
	background-position: top left;
	margin: 0px;
	padding: 0px;
    overflow    : scroll;  /* Avoids dancing menu */
    overflow-x    : auto; /* IE: horizontal bar is sooo large */
    }

body table.body
    {
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 11px;
    background-image:  url(/site_media/NautilusBlack.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
    }


/*-------------------------TABLEAU--------------------------------------*/
table, tr, td, th
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 11px;
    margin: 0px;
    border: 0px solid #000;
    padding: 0px;
    }

td.blank
    {
    background-color: #000;
    }

/*-------------------------HEADER--------------------------------------*/
td.header1,
td.header2
    {
	background-color: #1AA21A;
	/* background-color: #0063a8; Blue*/
	background-image:  url(/site_media/NautilusGreen.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
    }

td.header2 h1
    {
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-size: 70px;
	margin: 20px 0px 0px 60px;
	padding: 0px;
	line-height: 40px;
    }

td.header2 h2
    {
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-size: 23px;
	margin: 5px 0px 10px 150px;
	padding: 0px;
	line-height: 40px;
    }

/*-------------------------HORIZONTAL TOOLBAR------------------------*/
td.crumbs1,
td.crumbs2
    {
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 11px;
	background-color: #006600;
	/* background-color: #194b6e; DarkBlue */
	background-image:  url(/site_media/NautilusDarkGreen.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
    }

td.crumbs1
    {
	border-top: 1px solid #000;
    }

td.crumbs2
    {
	padding: 4px 6px 4px 30px;
	color: #fff;
	border-top: 1px solid #000;
    }

td.crumbs2 a:link
    {
	color: #fff;
    }

td.crumbs2 a:visited
    {
	color: #ccc;
    }

td.crumbs2 a:hover
    {
	color: #ffc;
	border-bottom: 1px solid #fff;
    }


/*-------------------------CONTENU--------------------------------------*/
td.content
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 11px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	background-color: #fff;
	background-image:  url(/site_media/NautilusWhite.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
	padding: 20px 20px;
	line-height: 16px;
    height: 500px;
    }


/*-------------------------LEFT MENU--------------------------------------*/
#floatingmenu{
	padding: 150px 0px 0px 0px;
    width: 14%;
}

td.links
    {
	font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	border-top: 1px solid #000;
	padding: 16px 0px 0px 0px;
	color: #fff;
    }

td.links a.m
    {
	display: block;
	margin: 4px 0px 0px 0px;
	padding: 2px 2px 2px 10px;
	white-space: nowrap;
	color: #fff;
	font-size: 13px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #000;
	background-color: #858585;
	background-image:  url(/site_media/NautilusGrey.jpg);
	background-attachment: fixed;
	background-position: top left;
	background-repeat: no-repeat;
    }

td.links a.path
    {
	font-weight: bold;
    }

td.links a.path:hover
    {
	text-decoration    : none;
    }


td.links a:link
    {
	color: #fff;
    }

td.links a:visited
    {
	color: #fff;
    }

td.links a:hover
    {
	background-color: #0063a8;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	color: #000;
	background-color: #ccc;
	background-image: none;
    }

td.links a:active
    {
	color: #ff0;
    }

.logo4
    { 
    position:fixed; 
    z-index:3; 
    float:bottom;
    bottom:40;
    left:10px; 
    color: #fff;
    background: #FFF;
    width: 39; /* image width on mouseover */
    border-style:solid;
    border-width: 0px;
    }

.logo3
    { 
    position:fixed; 
    z-index:3; 
    float:bottom;
    bottom:45;
    left:65px; 
    color: #fff;
    background: #FFF;
    width: 50px; /* image width on mouseover */
    border-style:solid;
    border-width: 0px;
    }

.logo1 
    { 
    position:fixed; 
    z-index:3; 
    float:bottom;
    bottom:10px;
    left:10px; 
    color: #fff;
    background: #FFF;
    width: 50px; /* image width on mouseover */
    border-style:solid;
    border-width: 0px;
    }

.logo2
    { 
    position:fixed; 
    z-index:3; 
    float:bottom;
    bottom:10px;
    left:65px; 
    color: #fff;
    background: #FFF;
    width: 50px; /* image width on mouseover */
    border-style:solid;
    border-width: 0px;
    }


/*-------------------------Stats--------------------------------------*/
.statMetric {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: #333;                            /* #099 mettre couleur du milieu par defaut */
        font-size: 6px;                         /* taille des unites de la barre */             
        border-top-color: #CCC;         /* #0CC couleur du haut de barre */
        background-color: #999;         /* #099 couleur du milieu de barre */
        border-bottom-color: #666;      /* #066 couleur du bas de barre */      
        border-top-width: 3px;
        border-top-style: solid;        
        border-bottom-width: 3px;
        border-bottom-style: solid;
        
        /* #099 couleur des graduation, BLOC A COMMENTER PR MASQUER GRADUATION *//*
        border-right-color: #060; 
        border-right-width: 1px;
        border-right-style: solid;*/            
}

.statMetric b
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #000;
}


/*-------------------------OTHERS--------------------------------------*/
.treeline
{
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 22px;
    line-height: 10px;

}

legend
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 12px;
	font-weight: bold;
    }

.error 
    {
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	border: 1px solid #CC0000;
	font-size: 11px;
	text-align: center;
    }

a.posPage, a.posPage:visited, a.posPage:link
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10px;
    color: grey;
	font-weight: bold;
	text-decoration: none;
    font-style: italic;
    /*background-color: silver;*/
    }

a.posPage:hover  {
    /*background-color: grey;
    font-weight: bold;*/
    color: #000;
}

a.showparents, a.showparents:visited, a.showparents:link
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10px;
    color: grey;
	font-weight: bold;
	text-decoration: none;
    font-style: italic;
    /*background-color: silver;*/
    }

a.showparents:hover  {
    /*background-color: grey;
    font-weight: bold;*/
    color: #000;
}

a.selectall, a.selectall:visited, a.selectall:link
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
	font-size: 10px;
    color: grey;
	font-weight: bold;
	text-decoration: none;
    font-style: italic;
    /*background-color: silver;*/
    }

a.selectall:hover  {
    /*background-color: grey;
    font-weight: bold;*/
    color: #000;
}



a#iNode
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 10px;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    border: 0px;
    /*background-color: silver;*/
    }

a#iNode:hover  {
    /*background-color: grey;
    font-weight: bold;*/
    color: #000;
}

.button
    {
	font-size: 10px;
    }

.button#send 
    {
    font-weight: bold;
    }

.query 
    {
	text-align: center;
	background-color: #AFC7C7;
	border: 1px solid #333333;
	padding: 8px;
    }

.browser 
    {
	text-align: center;
    padding: 8px 8px;
    }

.treeName 
    {
    font-family: "Verdana", "Arial", "XHelvetica", "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: left;
    }

.tree 
    {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    }

.stat 
    {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    }

.nopadding 
    {
    padding: 0px 0px;
    }
    
span.example_button
	{
	border: 1px solid #99AACC;
	color: #000000;
	background-color: #DDDDDD;
	vertical-align: middle;	
	}

span.example_button:hover
	{
	border: 2px solid #333388;
	background-color: #33CC00;
	color: #000000;
	vertical-align: middle;
	cursor: pointer;	
	}

span.example_button:active
	{
	border: 2px solid #33CC00;
	background-color: #DDDDDD;
	color: #000000;
	vertical-align: middle;
	cursor: pointer;	
	}
	
fieldset {
	background-color: #E8E8E8	
}
