<table>
<!-- <tr><th>user taxa name</th><th>correction</th></tr> -->
{% if not_all_bad_taxa %}
   Only the {{ NB_MAX_DISPLAYED_BAD_TAXA }} first bad taxa are displayed.
{% endif %}
{% for suggestions, bad_name in dict_bad_taxa %}
    <tr>
    <td>
    <font color="red">{{ bad_name }}</font> :
    </td>
    <td>
    <input type='text' name="{{bad_name}}"
    {% for sugg in suggestions %}
    {% if forloop.first %}value="{{sugg}}"{% endif %}
    {% endfor %} />
    
    {% if suggestions %}
        (Do you mean:  
        {% for sugg in suggestions %}
            {{ sugg }}{% ifequal forloop.last 0 %},{% endifequal %}
            <!--
            <input 
            {% if suggestions|length_is:"1" %}
            type="checkbox" class="alone"
            {% else %}
            type="radio"
            {% endif %}
            name="{{bad_name}}" value="{{ sugg }}" />
            -->
        {% endfor %}
        )
    {% endif %}
    </td>
    </tr>
{% endfor %}
