{% extends "base.html" %}

{% block pagedef %} Upload collection > About {% endblock %}

{% block idpage %}/phyloexplorer/about{% endblock %}

{% block content %}
<h3> What is it ? </h3>
<ul>PhyloExplorer is a free, simple to use web service dedicated to check taxon's
names and to give statistics of phylogenetic trees.<br />
You can use filter and query in order to extract usefull informations of your
phylogenetic trees.
</ul>

<h3> Original idea from </h3>
<ul>
Ranwez Vincent
</ul>

<h3> Authors </h3>
<ul>
Nicolas Auberval <br />
Nicolas Clairon <br />
Sorel Diser <br />
</ul>

<h3> Special thanks to </h3>
<ul>
Khalid Belkhir <br />
Frédéric Delsuc 
</ul>
{% endblock %}
