{% extends "base.html" %}

{% block pagedef %} Home {% endblock %}

{% block menu %}
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<center> <b> Home </b> </center>
<a href="." class="path" title="Go to import collection page">Upload Collection</a>
<a href="help" class="path" title="(?) Help contents">Help Contents</a>
<a href="about" class="path" title="About PhyloExplorer project...">About</a>
{% endblock %}


{% block content %}
{% if msg %}
    <div id="error" class="error"><center>{{ msg }}</center></div>
{% endif %}
    <fieldset>
        <legend>Choose the file containing your tree collection in newick or nexus...</legend>
        <form action="statistics" method="post" enctype="multipart/form-data">
            Filename: <input type="file" name="myFile" class="button" /><br /><br />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" blockui="wait" value="Upload" />
            <input type="checkbox" name="autocorrection"/> Autocorrection<br />
            <input type="hidden" name="new_collection" value="true" />
        </form>
    </fieldset>
    or
    <fieldset>
        <legend>... or paste your collection</legend>
        <form action="statistics" method="post" enctype="multipart/form-data">
            <textarea rows="10" cols="80" name="myFile"></textarea><br />
            <input type="reset" class="button" value="clear" />
            Enter your delimiter (ex: "_" or "$" )
            <input type="text" size="1px" name="delimiter" value="_" />
            <input type="submit" class="button" blockui="wait" value="Upload" />
            <input type="checkbox" name="autocorrection"/> Autocorrection<br />
            <input type="hidden" name="new_collection" value="true" />
        </form>
    </fieldset>
{% endblock %}
