{% extends "base.html" %}

{% block pagedef %} Upload collection > Browse collection's images {% endblock %}

{% block script %}
{% endblock %}

{% block menu %}
<!-- <a href="home" class="path" title="Go home">Home</a> -->
<a href="." class="path" title="Go to upload collection page">Upload Collection</a>
<a href="/phyloexplorer/help" class="path" title="(?) Help contents">Help Contents</a>
<a href="/phyloexplorer/about" class="path" title="About PhyloExplorer project...">About</a>
<br />
{% if not_empty_collection %}
<center> <b>Current collection</b> </center>
<a href="/phyloexplorer/statistics" blockui="wait" class="path" title="Go back to collection"> Back to statistics </a>
<a href="/phyloexplorer/browse" blockui="wait" class="path" title="Go back to collection"> Browse collection </a>
<br />
<a href="/phyloexplorer/browse_images" target="_blank" class="path" title="Browse and download images of the collection">Browse images</a>
<br />
<a href="/phyloexplorer/downloadNCBITree" class="path" title="Download the NCBI arborescence"> Download NCBI excerpt</a>
<a href="/phyloexplorer/downloadCollection" class="path" title="Download the (full or filtered) collection">Download collection</a>
{% endif %}
{% endblock %}
 
{% block content %}
<a href="#bottom" class="posPage">&nbsp;Go to bottom&nbsp;</a>
<br />

<fieldset>
<legend> legend </legend>
This matrix represents the presence (black squares)/abscence (white square) of
taxa in source trees.
</fieldset>
<br />
<fieldset>
<legend> matrix</legend>
<table>
<tr> <td></td><td> <center>Trees</center> </td> </tr>
<tr>
<td> T<br />a<br />x<br />a<br /></td>
<td>
&nbsp;&nbsp;
<img style="color:white" src="/site_media/matrix/{{col_id}}.png" usemap="#map">
{{map|safe}}
</img>
</td>
</tr>
</table>
</fieldset>

<!-- CONTENU : BEGINNING____________________________________________________________________ -->
<div id="images"></div>
    <a href="#top" class="posPage">&nbsp;Go to top&nbsp;</a>
<!-- CONTENT : END -->
{% endblock %}
